.aboutsection{
	width: 100%;
	background:black;
  color: white;
  height: auto;
  margin: 0%;
}


.aboutsection .image{
	
	width: 100%;
	height: 400px;
	background: url(images/edan-garden.jpg);
	background-size: cover;
	background-position: center;
	

}
.youth{
	position: absolute;
	height: 500px;
	width: 200px;
	margin-top: -253px;
	margin-left: 68%;
}

.chatbox{
  position: absolute;
  height: 200px;
  width: 210px;
  overflow: hidden;
  background: #fede00;
  margin-top: -100px;
  margin-left: 180px;
}
.chatbox h2{
  margin-left: 20px;
  
  font-size: 24px;
  color: black;
  
}
.chatbox p{
  margin-left: 15px;
  margin-top: -20px;
  font-family:cursive;
  color: black;
  font-weight: bold;
}

.chatbox .h3{
  background: white;
  margin-top: -5px;
  text-align: center;
  height: 80px;
  width: 100%;
}
.chatbox .h3 h3{
  font-size: 28px;
  font-weight: 500;
  justify-content: center;
  pointer-events:all;
  transition: transform .2s; /* Animation */
  
}
.h3{

	cursor:pointer;

}
.chatbox .h3 h3:hover{
  transform: scale(1.3); 
}

.chatbox .h3 h3 a{
  text-decoration: none;
  color: black;
}

.nav{
  float: left;
  position: absolute;
  margin-top: 100px;
  margin-left: 30px;
  height: 400px;
  width: 250px;
 padding-left: 20px;
 

}
.nav a{
  text-decoration: none;
  color: white;
}
.nav h3{
  margin-top: 30px;
}

.logo{
  float: right;
  position: absolute;
  margin-top: 100px;
  margin-left: 67%;
  height: 240px;
  
  width: 240px;
 

}
.logo img{
  height: 100%;
  width: 100%;
}

.logoicon{
  float: right;
  position: absolute;
  margin-top: 300px;
  margin-left: 70%;
  background: url(images/facebook.svg);
  background-position: center;
  background-size: cover;
  height: 38px;
  width: 38px;
  cursor: pointer;
  border-radius: 50%;
  
}

.logoicon2{
  float: right;
  position: absolute;
  margin-top: 300px;
  margin-left: 73.5%;
  background: url(images/i-instagram.svg);
  background-position: center;
  background-size: cover;
  height: 38px;
  width: 38px;
  cursor: pointer;
  border-radius: 50%;
  
}
.logoicon3{
  float: right;
  position: absolute;
  margin-top:300px;
  margin-left: 77%;
  background: url(images/i-linkedin.svg);
  background-position: center;
  background-size: cover;
  height: 38px;
  width: 38px;
  cursor: pointer;
  border-radius: 50%;
  
}
.logoicon4{
  float: right;
  cursor: pointer;
  position: absolute;
  margin-top: 300px;
  margin-left: 80.5%;
  background: url(images/i-twitter.svg);
  background-position: center;
  background-size: cover;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  
}

.missionintro{
  color: white;
  display: inline-block;
  margin-top: 100px;
  margin-left:430px;
  width: 350px;
  margin-bottom: 0%;
  
}
.missionintro p{
  margin-top: -2px;
}

.vinay{
  float: right;
  display: inline-block;
  margin-top: -45px;
}

.ourteam{
  text-align: center;
  margin-top: 150px;
  font-size: 33px;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}

.container .card{
    position: relative;
    max-width: 300px;
    height: 225px;
    border-radius: 5px;
    background: white;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;

}
.container .card:hover{
    height: 420px;

}
.container .card .img{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    z-index: 1;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2)

}


.container .card .img img{
    max-width: 100%;
    border-radius: 4px;


}

.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.2s;
}

.content h2{
    font-family: 'Merriweather', serif;
}
.content p{
  font-weight: bold;
}
.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}
.text{
    padding-top: 90px;
    margin-left: 30px;
    width: 80%;
  }
 